html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.header {
    background-color: #1F2937;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    height: 2000px;
    display: flex;
    flex-flow: row wrap;
}

.hero {
    background-color: #1F2937;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    background-color: white;
    width: 100%;
    height: 30%;
}

.quote {
    background-color: #E5E7EB;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    background-color: white;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #1F2937;
    width: 100%;
    height: 60px;
    align-self: flex-end;
    display: flex;
}

/* header elements */

.logo, .hero-main {
    color: #F9FAF8;
}

a, .hero-secondary, .placeholder {
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-basis: 445px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

a {
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: flex-end;
    flex-basis: 445px;
}

.box1 {
    height: 225px;
    flex-basis: 445px;
    gap: 4px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.box2 {
    background-color: #53565e;
    height: 225px;
    flex-basis: 445px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.sign-up1 {
    background-color: #3882F6;
    font-weight: bold;
    color: #E5E7EB;
    border-radius: 7px;
    padding: 7px 25px;
    margin-top: 10px;
    border-style: none;
}

/* quote elements */

.quote-box {
    display: flex;
    flex-direction: column;
    width: 815px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.credit {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

/* action elements */

.action-box {
    flex-basis: 890px;
    height: 125px;
    background-color: #3882F6;
    border-radius: 7px;
    border-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p {
    margin: 0;
    color: #E5E7EB;
}

.call {
    font-size: 24px;
    font-weight: bold;
}

.sign-up2 {
    background-color: #3882F6;
    font-weight: bold;
    color: #E5E7EB;
    border-radius: 7px;
    padding: 6px 24px;
    border-color: #E5E7EB;
    border-width: 2px;
    border-style: double;
}